# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Default settings
[{Makefile,*.{html,css,scss,jsx,tsx,vue,svelte,astro,gitmodules,c,h,cpp,mk,nix,yaml,yml,json,toml,sh,ts,js,}}]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# C files
[*.{c,h}]
indent_style = tab

[*.{cpp,hpp}]
indent_size = 2

# Makefiles
[{*.mk,Makefile}]
indent_style = tab

# Scripts
[**/*.sh]
indent_size = 2

# Nix
[**/*.nix]
indent_size = 2

# Config files
[*.{yaml,yml,json,toml}]
indent_size = 2

# JavaScript/TyepScript
[*.{js,ts}]
indent_size = 2

# Web
[*.{html,css,scss,jsx,tsx,vue,svelte,astro}]
indent_size = 2
