.my-button {
  width: fit-content;
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button {
  background-color: oklch(0.789 0.154 211.53);
  color: #212121;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  font-size: 13px;
  position: absolute;
  z-index: 1;
  min-width: 200px;
  background-color: #212121;
  border: 2px solid oklch(0.789 0.154 211.53);
  border-radius: 0px 8px 8px 8px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: oklch(0.789 0.154 211.53);
  padding: 8px 10px;
  text-decoration: none;
  display: block;
  transition: 0.1s;
}

.dropdown-content a:hover {
  background-color: oklch(0.789 0.154 211.53);
  color: #212121;
}

.dropdown-content a:focus {
  background-color: #212121;
  color: oklch(0.789 0.154 211.53);
}

.dropdown-content #top:hover {
  border-radius: 0px 5px 0px 0px;
}

.dropdown-content #bottom:hover {
  border-radius: 0px 0px 5px 5px;
}

.my-button:hover button {
  border-radius: 5px 5px 0px 0px;
}

.my-button:hover .dropdown-content {
  display: block;
}

