name: Auto-merge Release PRs

on:
  pull_request:
    types: [opened, reopened]

permissions:
  pull-requests: write
  contents: write

jobs:
  enable-auto-merge:
    runs-on: ubuntu-latest

    # only run if the PR was created by the release-please bot
    if: ${{ github.actor == 'release-please[bot]' }}

    steps:
      - name: Enable auto-merge for Release PRs
        run: gh pr merge --auto --merge "$PR_URL"
        env:
          PR_URL: ${{ github.event.pull_request.html_url }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
