name: Mini-moulinette

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    paths:
      - 'piscine-c/c-*/**/*'
      - '.github/workflows/moulinette.yml'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'piscine-c/c-*/**/*'
      - '.github/workflows/moulinette.yml'

jobs:
  test:
    runs-on: ubuntu-22.04

    strategy:
      matrix:
        c_project: [ '00', '01', '03', '04', '06', '07', '08' ]

    steps:
      - uses: actions/checkout@v3

      - name: Install mini-moulinette
        run: |
          git clone https://github.com/khairulhaaziq/mini-moulinette.git $HOME/mini-moulinette

      - name: Run mini-moulinette tests
        run: |
          mv piscine-c/c-${{ matrix.c_project }} C${{ matrix.c_project }}
          cd C${{ matrix.c_project }}/
          !($HOME/mini-moulinette/mini-moul.sh|tee /dev/tty|grep -q FAIL)
